:root{

    --title-collor: #322153;
    --primary-collor: #34cb79;

}

* {

    margin: 0;
    padding: 0;

}

html {
    font-family: 'Roboto', sans-serif;
}

body{

    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased;

}

a{

    text-decoration: none;

}

h1, h2, h3, h4, h5, h6{

    color: var(--title-collor);
    font-family: 'Ubuntu', sans-serif;

}

/* BOX MODEL

Modelo de caixa, ou seja tem altura, largura, espaçamento
preenchimentos, bordas, cor, fundo, display.

*/



/* Para usar o margin, 
   1 opção equivale a tudo igual. ex: margin auto;
   2 opções, a primeira cima e baixo a segunda esquerda direita. ex: margin 0 auto;
   3 opcoes a primeira em cima a segunda esquerda direita a terceira baixo. ex margin 50px auto 0;
   4 opcoes a primeira cima a segunda direita a terceira baixo a quarta esquerda. 
   ex margin 30px 50px 40px 0;
   */

    